@tailwind base;

@layer base {
  html,
  body {
    image-rendering: pixelated;
    font-smooth: never;
    -webkit-font-smoothing: none;
    color: #c1b492;
    background-image: url("../public/bg-test2.gif");
    height: 100%;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply tracking-[0.5em];
  }

  p,
  h2 {
    @apply mb-4;
  }

  h3 {
    @apply text-sm tracking-[0.4em];
  }

  a:link {
    color: #d2738a;
  }

  a:visited,
  a:active {
    color: black;
  }

  a:hover {
    color: #c1b492;
  }

  hr {
    border-color: #d2738a;
    border-bottom-width: 2px;
  }
}

@tailwind components;
@tailwind utilities;
