@tailwind base;

@layer base {
  html, body {
    image-rendering: pixelated;
    font-smooth: never;
    -webkit-font-smoothing: none;
    color:#c1b492;	
    background-image:url("../public/bg-test2.gif");
    height: 100%;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  a:link {
    color:#d2738a;
  }
    
  a:visited, a:active {
    color: black;
  }
    
  a:hover {
    color:#c1b492;
  }

  hr {
    border-color:#d2738a;
    border-bottom-width:2px;
  }
}

@tailwind components;
@tailwind utilities;

